.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.bbl*
*.bcf
*.blg
*.docx
*.fdb*
*.fls
*.html
*.lnk
*.lof
*.log
*.nav
*.nlo
*.out
*.pptx
*.run*
*.snm
*.synctex*
*.toc
*.xdv*
.ipynb_checkpoints/
past_writeups/
help_docs/
scratchpad.py