.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.log
*.html
*.lnk
.ipynb_checkpoints/
*.pptx
*.docx
scratchpad.py
*.toc
*.bbl*
*.bcf
*.fdb_latekmk
*.fls
*.lof
*.nlo
*.out
*.run
*.synctex
past_writeups/
main.pdf
help_docs/